<div class="entertainment entertainment-list-item">
    <div class="entertainment-cover">
        <img src="{{post.cover.url}}" alt="Temporário">
    </div>
    <div class="entertainment-title-container">
        <h2 class="entertainment-title">{{ post.title }}</h2>
    </div>

    <div class="entertainment-author">
        <span class="entertainment-author-item">
            <i class="fas fa-user"></i>
            {{ post.first_name }} {{ post.last_name }}
        </span>
        <span class="entertainment-author-item">
            <i class="fas fa-calendar-alt"></i>
            {{ post.creatd_at|date:"d/m/Y"}} às {{ post.creatd_at|date:"H:i:s"}}
        </span>
        <span class="entertainment-author-item">
            <a href="">
                <i class="fas fa-layer-group"></i>
                <span>{{ post.category }}</span>
            </a>
        </span>
    </div>
    <div class="entertainment-content">
        <p>{{ post.description}}</p>
    </div>
     <div class="entertainment-meta-container">
        <div class="entertainment-meta entertainment-preparation">
            <h3 class="entertainment-meta-title"><i class="fa-solid fa-ranking-star"></i> Nota</h3>
            <div class="entertainment-meta-text">
                {{ post.note }} / 100
            </div>
        </div>
        <div class="entertainment-meta entertainment-servings">
            <h3 class="entertainment-meta-title"><i class="fa-solid fa-building"></i></i> Produtora</h3>
            <div class="entertainment-meta-text">
                {{ post.company }}
            </div>
        </div>
    </div>
        <footer class="entertainment-footer">
        <a class="entertainment-read-more button button-dark button-full-width" href="posts/123">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
</div>